@tailwind base;
@tailwind components;
@tailwind utilities;

.dhx_cal_data { border-left: var(--dhx-scheduler-default-border); }
.dhx_cal_header { left: 0 !important;}

[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    border: none;
    box-shadow: 0 0 0 2px var(--dhx-scheduler-default-border);
}

